[submodule "extern/GLM"]
	path = extern/GLM
	url = https://github.com/g-truc/glm.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/vk-bootstrap"]
	path = extern/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "extern/VMA"]
	path = extern/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/tinyexr"]
	path = extern/tinyexr
	url = https://github.com/syoyo/tinyexr.git
